/* intuitivnější box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

/* ---------------------------------------------------- */

.kalendar {
	display: grid;
	grid-template-columns: 60px 60px 60px 60px 60px 60px 60px;
	grid-template-rows: 60px 60px 60px 60px 60px 60px;
	gap: 2px;
}

.kalendar li {
	list-style: none;
	text-align: center;
	border: solid lightgrey 1px;
}

.kalendar .zahlavi {
	border: none;
	background-color: #ff6347;
	color: white;
}

.predchozi, .nasledujici {
	background-color: lightgrey;
	color: grey;
}

